@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

#partOne {
    background-color: #1f2937;
    color: white;
    padding-bottom: 100px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    gap: 17px;
    list-style-type: none;
}

#odinImage {
    height: 240px;
    margin-top: 45px;
}

.intro {
    display: flex;
    justify-content: space-evenly;   
}

.info1 {
    width: 450px;
}

.titleIntro {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.textIntro {
    margin-top: -40px;
    font-size: 18px;
    color: #E5E7EB;
}

.btn1 {
    background-color: royalblue;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    padding: 9px 28px;
    border: none;
    font-weight: bold;
}

#partTwo {
    padding-bottom: 100px;
}

.title2 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.charts {
    display: flex;
    justify-content: center;
}

.charts img {
    height: 100px;
}

.charts div {
    width: 240px;
    text-align: center;
}

#partThree {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 90px;
}

#partThree p {
    max-width: 800px;
    font-size: 34px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

#partThree label {
    text-align: center;
    margin: -20px 0 0 450px;
    font-weight: bold;
    font-size: 20px;
}

#partFour {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px;
}

.partFourContent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width: 900px;
    gap: 180px;

    border-radius: 8px;
    padding: 45px 45px;
    border: none;
}

.textContainer {
    color: white;
}

.text1 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: -0px;
}

.btn2 {
    background-color: transparent;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px 25px;
    border: 2px solid white;
    margin-top: 15px;
}

#footer {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1f2937;
    color: white;
    padding: 30px 30px;
}